body {
    background-image: url(/img/shoes.jpg);
    background-size: cover;
}

.container {
    background-color: aliceblue;
    width: 500px;
    padding: 50px;
    display: block;
    margin:auto;
}

.your_main input {
    padding: 10px;
    width: 80%;
}

.first_name, .last_name {
    float: left;
    padding: 1px;
    width: 40%;
}

.first_name input, .last_name input {
    width: 80%;
    padding: 10px;
}

.message {
    margin-bottom: 20px;
}

.message input {
    width: 80%;
    height: 150px;
}

.subscribe {
    float: left;
}

.send button {
    color: white;
    background-color: rgb(226, 226, 7);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    float: right;
}