@font-face {
    font-family: '나눔스퀘어';
    src : url(../font/NanumSquareAcB.woff)
}

body {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'gulim', '나눔스퀘어';
}

/* 위 코드들은 고정 */

.explain-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

.explain-container div {
    float: left;
    width: 25%;
}

@media screen and (max-width : 768px) {
    .explain-container div {
        float: left;
        width: 50%;
    }
}

@media screen and (max-width : 566px) {
    .explain-container div {
        float: none;
        width: 100%;
    }
}

.explain-container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-black {
    width: 100%;
    height: 100%;
    background: black;
    transition: all 1s;
    margin-top: 100%;
    opacity: 0.5;
}

.overlay-wrap:hover .overlay-black {
    margin-top: 50%
}

span {
    color: white;
    padding-left: 10px;
}

input[type=range] {
    appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background: red;
    width: 30px;
    height: 30px;
    appearance: none;
}

progress{
    appearance: none;
    background: white;
    color: red;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

progress::-webkit-progress-value {
    background: linear-gradient(to right, rgb(140, 174, 174), rgb(70, 100, 100));
    border-radius: 5px;
}