@font-face {
  font-family: "나눔스퀘어";
  src: url(../font/NanumSquareAcB.woff);
}

body {
  margin: 0px;
  font-family: "gulim", "나눔스퀘어";
  background-color: #f7f9fc;
}

.white-box {
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0.5px 0.5px 2px 1px #eee;
}

.introduce-info {
  background-color: white;
  border-radius: 5px;
}

.info-text i {
  color: #6fbaf8;
}

button {
  color: white;
  font-size: 16px;
  font-weight: 900;
  background-color: #6fbaf8;
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.info-person {
  border-left: 1px solid rgb(168, 165, 165);
}

.hr-grey {
  margin:0px;
}

.hr-grey {
  margin:0px;
}

.card {
  padding: 10px;
  margin: 10px;
  border: none;
  height: 50%;
}

.pill {
  display: inline-block;
	border: 1px solid lightgray;
	border-radius: 100px;
	padding: 5px 10px 5px 10px;
	margin-right: 2px;
	margin-bottom: 5px;
  font-size: 8px;
  font-weight: 900;
}

.pseudo::before {
  content: '안녕';
  color: red;
  font-size: 20px;
}

@media screen and (max-width : 768px) {
  body {
    display: flex;
  }
}